imbalanced_learn==0.12.3
matplotlib==3.8.3
numpy==1.26.4
psutil==5.9.8
scikit_learn==1.3.0
shap==0.46.0
openpyxl==3.1.5
evidently==v0.4.30
SQLAlchemy==2.0.31
fastapi
uvicorn
mlflow==2.13.2
cloudpickle==3.0.0
packaging==23.2
pyyaml==6.0.1
scipy==1.11.1
google-cloud
google-cloud-storage
gcsfs
sphinx
pytest
pre-commit
